/* COMMON */
img{
    max-width: 100%;
}

/* HEADER */
header{
    height: 80px;
}

.header-up{
    background-color: black;
    height: 40px;
}

.header-up img{
    height: 40px;
    width: 40px;
}

/* JUMBOTRON */
.ms_bg-image{
    min-height: 600px;
    width: 100%;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ms_450px{
    width: 450px;
}

/* SECTION 4 */
.ms_bg-image-sec-4{
    min-height: 600px;
    width: 100%;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* SECTION 7 */
.ms_bg-grey{
    background-color: rgb(190, 188, 187);
}